<h1>Display your Pirate here</h1>
<label>Pirate Name: <%=@pirate.name%> </label>
<label>Pirate Weight: <%=@pirate.weight%> </label>
<label>Pirate Height: <%=@pirate.height%> </label>


<h2>Display your first ship here</h2>
<label>Ship 1 Name: <%=@ship1.name%></label>
<label>Ship 1 Type: <%=@ship1.type%></label>
<label>Ship 1 Booty: <%=@ship1.booty%></label>

<h2>Display your second ship here</h2>
<label>Ship 2 Name: <%=@ship2.name%></label>
<label>Ship 2 Type: <%=@ship2.type%></label>
<label>Ship 2 Booty: <%=@ship2.booty%></label>
